{% extends "page.html" %}


{% block html %}
<div class="row h-100">
	<div class="col-xl mb-3">
		<div data-bind="element:scene.element" class="h-100"></div>
	</div>
	<div class="col-xl-3">
		<div class="form-group">
			<button data-bind="click:()=>{$model.send(1,{p:'A'})}" class="btn btn-block btn-primary btn-lg">Move A</button>
			<button data-bind="click:()=>{$model.send(1,{p:'B'})}" class="btn btn-block btn-primary btn-lg">Move B</button>
			<button data-bind="click:()=>{$model.send(1,{p:'C'})}" class="btn btn-block btn-primary btn-lg">Move C</button>
			<button data-bind="click:()=>{$model.send(1,{p:'D'})}" class="btn btn-block btn-primary btn-lg">Move D</button>
		</div>
		<div class="form-group">
			<label for="speed">Speed</label>
			<input data-bind="value:$model.speed, valueUpdate:'input'" type="range" min="1" max="100" step="1" class="custom-range" id="speed">
		</div>
	</div>
</div>
{% end %}


{% block script %}
import * as THREE			from '{{static_url('three/three.module.js')}}';
import Scene				from '{{static_url('sim/scene.mjs')}}';
import loadStl				from '{{static_url('sim/stl.mjs')}}';

class Robot extends THREE.Bone {
	constructor() {
		super();
		this.robot = new THREE.Bone();
		this.add(this.robot);
		const material = new THREE.MeshPhongMaterial({color:'OrangeRed'});
		this.joint_c = loadStl('{{static_url('sim/robot/100S/link_c.stl')}}', material);
		this.joint_b = loadStl('{{static_url('sim/robot/100S/link_b.stl')}}', material);
		this.joint_z = loadStl('{{static_url('sim/robot/100S/link_z.stl')}}', material);
		this.joint_a = new THREE.Bone();
		this.gripper = new THREE.Bone();
		
		this.robot.add(this.joint_c);
		this.joint_c.add(this.joint_z);
		this.joint_z.add(this.joint_b);
		const robotBaseStl = '{{static_url('sim/robot/100S/base.stl')}}';
		
		this.robot.add(loadStl(robotBaseStl, {color:'Green'}));
		this.joint_b.add(this.joint_a);
		this.joint_a.add(this.gripper);
		
		this.joint_b.position.x = 607;
		this.joint_a.position.x = 351.5;
		
		const width = 500, height = 150;
		const length = 2000;
		const shuttleMesh = new THREE.Mesh(new THREE.BoxGeometry(width, length+2*width, height), new THREE.MeshLambertMaterial({color:'PaleGreen'}));
		shuttleMesh.position.z = -(height+height/2);
		shuttleMesh.position.y = length/2;
		this.add(shuttleMesh);
		
		this.gripperMaterial = new THREE.MeshPhongMaterial({color:'Red'});
		this.setGripper({type:10, duplex:true, height:180, tilted:false});
	}
	
	setPose(jnt) {
		this.joint_c.rotation.z = THREE.MathUtils.degToRad(jnt[0]);
		this.joint_b.rotation.z = THREE.MathUtils.degToRad(jnt[1]);
		this.joint_z.position.z = jnt[2];
		this.joint_a.rotation.z = THREE.MathUtils.degToRad(jnt[3]);
		this.robot.position.y = jnt[4];
	}
	
	setGripper(gripper) {
		this.gripperStl?.removeFromParent();
		if (gripper.type) {
			const name = gripper.type+'_'+(gripper.duplex?'d':'s')+(gripper.tilted?'_t':'');
			if (!Robot.grippers[name]?.isObject3D)
				Robot.grippers[name] = Robot.grippers[name] ? loadStl(Robot.grippers[name], this.gripperMaterial) : new THREE.AxesHelper(300);
			this.gripperStl = Robot.grippers[name];
			this.gripperStl.position.z = -gripper.height;
			this.gripper.add(this.gripperStl);
		}
	}
	
	static grippers = {
		'10_d':		'{{static_url('sim/gripper/10_d.stl')}}',
		'20_s':		'{{static_url('sim/gripper/20_s.stl')}}',
		'20_d':		'{{static_url('sim/gripper/20_d.stl')}}',
		'25_d':		'{{static_url('sim/gripper/25_d.stl')}}',
		'33_d':		'{{static_url('sim/gripper/33_d.stl')}}',
		'33_d_t':	'{{static_url('sim/gripper/33_d_t.stl')}}',
	};
}
{% end %}


{% block model %}
class {
	constructor() {
		this.robot = new Robot();
		this.scene = new Scene().add(this.robot);
		(this.speed = ko.observable(100)).subscribe((v)=>{model.send(2, {v:v/100})});
	}
	
	start() {
		model.mc = webSocket(wsUrl(null, null, 'data'), (msg)=>{
			this.robot.setPose(msg.jnt);
			this.scene.render();
		});
	}
	
	send(cmd, args={}) {
		args.cmd = cmd;
		model.mc.sendJson(args);
	}
	
	stop() {
		model.mc.close();
	}
}
{% end %}
